@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
    color: #fff;
    font-size: 1.5em;
    grid-column: 1 / 7 ;
    background-color: rgb(117,117,117);
    display: flex;
}

nav > div {
    width: 25%;
    display: flex;
    justify-content: center;
}

nav > div:hover{
    background-color: 
}

.wrapper {
        display: grid;
        background-color: #fff;
        color: #444;
    }

.box {
    background-color: #444;
    color: #fff;
    font-size: 150%;

}

.a {
    grid-column: 1 / 7;
    font-family: 'Pinyon Script', cursive;
    font-size: 5em;
    
}

.a > p {
    display: flex;
    justify-content: center;
}


.guess{
    background-image: radial-gradient(closest-side ellipse at center, white, rgb(242, 248, 252));
    font-family: 'Cormorant Garamond', serif;
    grid-column: 1 / 7 ;
}

.guess > h1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#definition {
    display: flex;
}

.arrow {
    width: 12.5%;
    position: relative;
}

.left {}

.right {
    transform: scaleX(-1);
}

img{
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
 
#answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width: 75%;
}
#answers > button{
    border: solid;
    text-align: center;
    width: 70%;
    font-size: 2em;
    box-shadow: 10px 5px 5px grey;
    margin: 30px;
    background-color: white;
}

#answers > button:hover{
    filter: brightness(120%);
}

.e {
    grid-column: 1 / 7;
}

