{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{% static 'randwordly/main.css' %}">
	
	<title></title>
</head>
<body>
<div class="wrapper">
  <div class="box a">
  	<p>Docio</p> 
  </div>
  <nav>
  	<div>Compte</div>
  	<div><a href="{% url 'randwordly:random' %}"> Random </a></div>
  	<div><a href="{% url 'registration:register' %}"> Inscription </a></div>
  	{% if not user.is_authenticated %}
  		<div><a href="{% url 'registration:login' %}"> Connexion </a></div>
  	{% else %}
		<div><a href="{% url 'registration:logout' %}"> Deconnexion </a></div>
  	{% endif %}
  </nav>
  {% block content %}
	  <div class="guess">
	  	<div id="liste">
		  	<label style="font-size: 2em;">Liste: </label>
		  	<select>	
		  	{% for liste in listes %}
				<option value={{liste}}>{{liste}}</option>	
		  	{% endfor %}
		  	</select>
	  		
	  	</div>
	  	<div id="word_row">
	  		<h1 id="word">{{word}}</h1>
			<i class="material-icons" style="font-size:36px">star_border</i>
		</div>	
	  	<section id="definition">
	  		<div class="arrow left">
				<img hidden src="{% static 'randwordly/arrow.png' %}">
	  		</div>
		  	<div id="answers">
		  		{% for definition in definitions %}
		  			{% if "right_answer" in definition %}
		  				<button class="answer" id="True">{{definition.description}}</button>
		  			{% else %}
		  				<button class="answer">{{definition.description}}</button>
		  			{% endif %}
		  		{% endfor %}
		  	</div>
		  	<div class="arrow right">
				<img hidden src="{% static 'randwordly/arrow.png' %}">
		  	</div>
	  	</section>
	  </div>
  {% endblock %}
  <div class="box e">E</div>
</div>
<script src="{% static 'randwordly/main.js' %}"></script>
</body>
</html>